.keen-slider {
  /* Your container styles */
  /* position: relative; */
  display: flex;
  overflow: hidden;
}

.keen-slider__slide {
    /* Your slide styles */
    display: flex;
    align-items: center;
    justify-content: center;
    /* More styles */
  }

  .arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 9999px;
    position: absolute;
    top: 50%;
    background-color: white;
  }

  .arrow-wrapper__right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 1px solid rgb(145, 145, 145);
    border-radius: 9999px;
    position: absolute;
    top: 50%;
    left: auto;
    right: 5px;
    background-color: white;
  }

  .arrow {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    fill: #322f2f;
    cursor: pointer;

    /* background-color: white; */
    
  }
  
  .arrow--left {
    left: 5px;
  }
  
  .arrow--right {
    left: auto;
    right: 5px;
  }
  
  .navigation-wrapper {
    position: relative; /* Important: this enables absolute positioning for children */
    display: flex;
    align-items: center;
  }