

.skeleton-wrap {
    overflow: hidden;
    position: relative;
  }
  
  
  .skeleton-img {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #f6f7f8 0%, #edeef1 50%, #f6f7f8 100%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite linear;
  }
  
 
  .skeleton-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: linear-gradient(to right, #f6f7f8 0%, #edeef1 50%, #f6f7f8 100%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite linear;
  }
  
 
  .skeleton-text {
    width: 80%;
    height: 15px; 
    margin-bottom: 10px;
    background: linear-gradient(to right, #f6f7f8 0%, #edeef1 50%, #f6f7f8 100%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite linear;
  }
  
 
  @keyframes shimmer {
    0% {
      background-position: -200% 0;
    }
    100% {
      background-position: 200% 0;
    }
  }
  