.arrow {
  background-color: #fff;
  position: absolute;
  cursor: pointer;
  z-index: 100;
  border: 1px solid;
  border-radius: 50%;
  border-color: #ccc;
  margin-bottom: 50px;
}

.next {
  right: -10px;
  top: 40%;
  padding: 10px 13px 11px 14px;
}

.prev {
  left: -11px;
  top: 40%;
  padding: 10px 14px 11px 13px;
}

/* Skeleton Loading Stage */

.skeleton {
  background-color: #dddbdd;
  display: inline-block;
  overflow: hidden;
  position: relative;
}
.skeleton::after {
  -webkit-animation: shimmer 2s infinite;
  animation: shimmer 2s infinite;
  background-image: linear-gradient(
    90deg,
    hsla(0, 0%, 100%, 0),
    hsla(0, 0%, 100%, 0.2) 20%,
    hsla(0, 0%, 100%, 0.5) 60%,
    hsla(0, 0%, 100%, 0)
  );
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  box-sizing: border-box;
}

.nft_wrap-skeleton {
  width: 100%;
  height: 200px;
}

.nft_coll_pp-skeleton {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.nft_coll_info-skeleton {
  width: 100px;
  height: 20px;
}

.nft_code_info-skeleton {
  width: 60px;
  height: 20px;
}

.author_list_pp-skeleton {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.nft__item_wrap-skeleton {
  width: 100%; 
  height: 350px;
}

.nft_title-skeleton {
  width: 180px; 
  height: 30px;
}

.nft__item_price-skeleton {
  width: 100px; 
  height: 20px;
}

.nft__item_like-skeleton {
  width: 30px; 
  height: 15px;
}
