
.skeleton_body {
    height: 45px;
}

.skeleton_face {
    background: linear-gradient(to right, lightgray, rgb(155, 155, 155));
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.skeleton_name {
    background: linear-gradient(to right, lightgray, rgb(155, 155, 155));
    height: 18px;
    width: 120px;
}

.skeleton_price {
    background: linear-gradient(to right, lightgray, rgb(155, 155, 155));
    height: 18px;
    width: 50px;
    margin-top: 8px;
}