.col-md-12 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.all {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
}

.nft_coll_pp {
    margin: 0;
}

.titleLoading {
    width: 120px;
    margin: 0;
}

.spanLoading {
    width: 20%;
}

@media (max-width: 640px) {
  .all {
    width: 50%;
  }   
}

@media (max-width: 370px) {
    .all {
        width: 100%;
    }
}