.Swiper {
	width: 100%;
	height: 100%;
	position: relative;
}
.swiper-slide {
	width: 100%;
	height: 100%;
	/* text-align: center; */

	/* Center slide text vertically */
	display: flex;
	justify-content: center;
	align-items: center;
	/* overflow: visible;  */
}

.swiper-slide img {
	/* display: block;
	/* width: 100%; */
	width: 100%;
	object-fit: cover;
	max-height: 210px;
}

.swiper-button-next,
.swiper-button-prev {
	position: absolute;
	font-size: 20px;
	top: 50%;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	z-index: 100;
	cursor: pointer;
	background-color: white;
	border: 1px solid #ccc;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
	background-color: #f8f9fa;
	border-color: #f8f9fa;
	transform: scale(1.1);
	transition: all 0.1s ease-in-out;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.swiper-button-next:hover::after,
.swiper-button-prev:hover::after {
	color: #000;
}

.swiper-button-next::after,
.swiper-button-prev::after {
	font-size: 15px;
}

.swiper-button-next {
	z-index: 100;
	right: -5px;
}
.swiper-button-prev {
	z-index: 100;
	left: -5px;
}

.custom-swiper-wrapper {
	transform: translate(0, 0);
}

.swiper-custom-nav {
	position: fixed;
}
