/* ShimmerEffect.css */
.shimmer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center; /* Align children to the center */
  gap: 8px;
  padding: 20px; /* Add some padding around the shimmer elements */
}

.shimmer_wrapper-topSeller {
  display: flex;
  flex-direction: row; /* Align children in a row */
  justify-content: space-around; /* Distribute space around items */
  align-items: center; /* Align items vertically */
  gap: 8px; /* Space between each shimmer element */
  padding: 20px; /* Add some padding around the shimmer elements */
  flex-wrap: wrap; /* Allow items to wrap as needed */
}

.shimmer-image {
  width: 100%;
  height: 200px; /* Height of the main image placeholder */
  border-radius: 8px; /* Rounded corners for the main image */
}

.shimmer-profile-picture {
  width: 80px; /* Adjust to match your actual profile picture size */
  height: 80px;
  border-radius: 50%; /* Make it circular for profile pictures */
  margin-bottom: 10px; /* Space below the profile picture */
}

/* Text placeholders with different sizes */
.shimmer-text.big {
  width: 80%;
  height: 20px;
  margin-bottom: 5px;
}

.shimmer-text.large {
  width: 70%; /* Width of the largest text */
  height: 25px; /* Height of the largest text */
}

.shimmer-text.medium {
  width: 50%; /* Width of the medium text */
  height: 20px;
}

.shimmer-text {
  width: 100%; /* Full width for generic text placeholders */
  height: 20px;
}

.shimmer-text.small {
  width: 60%; /* Width of the smallest text */
  height: 15px; /* Height of the smallest text */
  margin-bottom: 5px;
}

.shimmer-countdown {
  top: -368px; 
  left: 190px; 
  z-index: 10; 
  width: 90px;
  height: auto;
}



/* Shimmer effect styling */
.shimmer {
  background: linear-gradient(to right, #eff1f3 8%, #e2e2e2 18%, #eff1f3 33%);
  background-size: 200% 100%;
  position: relative;
  overflow: hidden;
}

.shimmer::after {
  content: '';
  position: absolute;
  top: 0;
  left: -100%; /* Start the gradient off the left side of the element */
  height: 100%;
  width: 200%; /* Double the width for the sliding effect */
  background: inherit; /* Use the same gradient background */
  animation: shimmer 2s infinite linear;
}

@keyframes shimmer {
  0% {
    left: -100%; /* Start the gradient off the left side of the element */
  }
  100% {
    left: 100%; /* End the gradient off the right side of the element */
  }
}

